---
import PostCard from "./PostCard.astro";
const {posts} = Astro.props    
---
<section>
    {
		posts.map(post => (
			<PostCard
				post={post}
			/>
		))
	}
</section>


<style>
    section {
        margin: 2rem 0;
    }
</style>